.styled-line {
	border: none;
	border-top: 2px solid  #ffff00;
	width: 100%;
}

.bold {
	font-size: 1.3rem;
	line-height: 1.8rem;
	font-family: 'Libre Baskerville', serif;
	font-weight: 300;
	margin-bottom: 1rem;
	color: white;
	text-decoration: underline;
	text-decoration-color:  #ffff00;
}

.author {
	font-weight: 500;
	margin-top: 20px;
	color: #ffff00;
}

h1 {
	font-size: 6rem;
	line-height: 6rem;
	font-weight: 600;
}

h2 {
	font-size: 1.6rem;
	line-height: 2rem;
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	padding-top: 1em;
	padding-bottom: 1em;
	color: white;
}

h3 {
	margin-bottom: var(--spacing);
	font-weight: 600;
	padding-top: 1em;
}

.highlight-yellow {
	color: #ffff00;
}

.lined-list {
	list-style: none;
	font-family: 'Raleway', sans-serif;
}

.lined-list li {
	position: relative;
	padding-left: 25px;
	margin-bottom: 10px;
}

.lined-list li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0.5em; 
	width: 10px;
	height: 10px;
	background-color: #ffff00;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-align: left;
	margin-bottom: 1rem;
}

body {
	gap: 20px;
	line-height: 1.7rem;
}

footer {
	font-family: 'Raleway', sans-serif;
	padding: 20px;
	color: #ffff00;
}

.mobile-nav {
	background-color: rgb(15, 15, 15);
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	top: 0;
	position: sticky;
	z-index: 1000;
}

/* hide checkbox */
.mobile-nav .menu-toggle {
	display: none;
}

.mobile-nav .hamburger {
	display: block;
	font-size: 2.5rem;
	color:  #ffff00;
	cursor: pointer;
	text-align: right;
	}

.mobile-nav .menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: none;
	flex-direction: column;
	align-items: center;
	}

.mobile-nav .menu li {
	width: 100%;
	text-align: center;
	margin: 5px 0;
}

.mobile-nav .menu a {
	display: block;
	padding: 12px 20px;
	color: white;
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	}

.mobile-nav .menu a:hover {
	background-color:rgb(15, 15, 15);
	color: #b1b1b1;
	}

.mobile-nav .menu a.active-nav {
	background-color: #ffff00;
	color:rgb(15, 15, 15);
	font-weight: bold;
	margin-bottom: 20px;
	display: block;
	transform: skew(-10deg);
}

.mobile-nav .menu-toggle:checked + .hamburger + .menu {
	display: flex;
}

.article-container {
	grid-template-columns: 1fr;
	padding: 20px;
	gap: 15px;
	max-width: 100%;
	color: white;
}

@media(min-width: 780px) {
	
	.mobile-nav .hamburger {
		font-size: 2rem;
	}

	.mobile-nav .menu {
		width: 100%;
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		background-color:rgb(15, 15, 15);
		display: none;
	}

	.mobile-nav .menu li {
		width: 90%;
	}

	.mobile-nav .menu a {
		font-size: 1.2rem;
		padding: 15px 20px;
	}

	.mobile-nav {
		padding-right: 250px;
		padding-left: 250px;
	}

	.article-container {
		grid-template-columns: 1fr;
		padding: 50px;
		gap: 15px;
		max-width: 100%;
		color: white;
		transition:0.3s;

	}


}

@media screen and (min-width: 1280px) {

	:root {
		--spacing:1.5rem;
	}

	h1 {
		font-size: 4.6rem;
		grid-column: 1 / -1;
	}

	.author {
		grid-column: 1 / -1;
		font-size: 1.5rem;
	}

	h2 {
		font-size: 2rem;
		line-height: 3.4rem;
		grid-column: 1 / -1;
	}

	h3 {
		font-size: 2.3rem;
		line-height: 2.9rem;
		padding-top: 0;
	}

	p {
		font-size: 1.2rem;
		line-height: 1.8;
	}

	body {
		font-size: 1.4rem;
		line-height: 1.8;
	}

	blockquote {
		font-size: 1.6rem;
		line-height: 2.6rem;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 15px;
		padding-bottom: 8px;
		display: inline-block;
	}

	.styled-line {
		border: none;
		border-top: 3px solid  #ffff00;
		width: 100%;
		grid-column: 1 / -1
	}

	footer {
		padding-left: 250px;
	}

	.content-1 {
		grid-column: 1 / 4;
	}

	.content-2, .content-3, .content-4 {
		grid-column: 1 / 4;
	}

	.bold, .question {
		font-size: 2rem;
		line-height: 3.4rem;
		grid-column: 2 / 5;
	}

	.h3-0, .h3-1, .h3-2, .h3-3 {
		grid-column: 1 / -1;
	}

	.mobile-nav {
		padding-right: 250px;
		padding-left: 250px;
	}

	.mobile-nav .hamburger {
		font-size: 3rem;
	}

	.article-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 60px;
		padding: 250px;
		padding-bottom: 0;
	}

}

