* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--base-size: 20px;
	--root-size: 1.1rem;
	--spacing: 0.9rem;
	--color-yellow: #CCFF00;
	--color-sombre-black: rgb(15, 15, 15);
	--color-hot-pink: hotpink;
	--color-red: red;
	--color-light-blue: rgb(0, 255, 234);
}

h1 {
	font-family: 'Lacquer', sans-serif;
	color: var(--color-yellow);

}

h3 {
	font-family: 'Lacquer', sans-serif;
	color: var(--color-yellow);
	font-size: 2.2rem;
	line-height: 2.4rem;
}

body {
	font-size: var(--root-size);
	background-color: rgb(15, 15, 15);
	line-height: var(--line-height);
}

.next-article {
	color: var(--color-yellow);
	padding: 10px;
	margin-top: 60px;
	margin-bottom: 40px;
	text-align: center;
	font-weight: 500;
	font-size: 2.3rem;
	font-family: 'Lacquer', sans-serif;
}

.back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	color: var(--color-yellow);
	border-radius: 50%;
	font-size: 4rem;
	z-index: 1;
}

@media screen and (min-width: 1280px) {
	
	.next-article {
		grid-column: 1 / -1;
	}

	.back-to-top {
		padding-right: 100px;
	}
}


