h1 {
	font-size: 2.8rem;
}

* {
	margin-top: 0px;
}

:root {
	--base-size: 20px;
	--root-size: 1.1rem;
	--spacing: 0.9rem;
}

body {
	font-size: var(--root-size);
	background-color: black;
	line-height: var(--line-height);
}

.back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	color:  #ffff00;
	border-radius: 50%;
	font-size: 2rem;
	z-index: 1000;
}


