.underline {
	text-decoration: underline;
	font-weight: bolder;
	color: rgb(237, 20, 64);
}

.author {
	padding-top: 20px;
	padding-bottom: 40px;
	font-weight: 500;
	place-items: center;
	text-align: center;
}

.question, .bold {
	font-size: 1.3rem;
	line-height: 1.8rem;
	font-family: 'Josefin', sans-serif;
	font-weight: 500;
	margin-bottom: 1.2rem;
}

blockquote {
	font-size: 1.2rem;
	line-height: 1.8rem;
	font-family: 'Josefin', sans-serif;
}

.quote-1, .quote-2 {
	font-weight: 300;
}

h1 {
	font-size: 4.4rem;
	line-height: 4.2rem;
	color: rgb(0, 0, 0);
	font-family: 'Josefin', sans-serif;
	font-weight: 900;
	place-items: center;
	text-align: center;
}

h2 {
	font-size: 1.4rem;
	line-height: 2rem;
	font-family: 'Josefin', sans-serif;
	font-weight: 400;
	padding-bottom: 40px;
}

.styled-line {
	border: none;
	border-top: 5px solid rgb(237, 20, 64);
	width: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
}

h3 {
	font-size: 1.5rem;
	line-height: 2rem;
	margin-bottom: var(--spacing);
	font-family: 'Josefin', sans-serif;
	font-weight: 800;
	color: rgb(237, 20, 64);
}

p {
	font-size: 0.9rem;
	color: rgb(0, 0, 0);
	font-family: 'Josefin', sans-serif;
	font-weight: 300;
	max-width: 35ch;
	margin-bottom: 1.2rem;
}

body {
	gap: 20px;
	line-height: 1.5rem;
	background: linear-gradient(135deg, #ffffff, #d65a5a, #ff0000);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}

.article-container {
	grid-template-columns: 1fr; /* Single column layout */
	padding: 20px;
	padding-bottom: 0;
}

footer {
	font-family: 'Josefin', sans-serif;
	font-size: 1rem;
}

/* .footer-1 {
	grid-template-columns: 1fr;
	margin: 0 auto;
	padding-left: 1rem;
} */

.footer-2 {
	grid-template-columns: 1fr;
	margin: 0 auto;
	padding: 1rem;
}

h1, h2, .content-1, .content-2, .content-3, .content-4, .bold, .question {
grid-column: 1 / -1; /* Each element spans the full width */
}

@media screen and (min-width: 1280px) {

	:root {
		--spacing:1.5rem;
	}

	h1 {
		font-size: 12rem;
		line-height: 12rem;
	}

	h2 {
		font-size: 2rem;
		line-height: 3rem;
	}

	h3 {
		font-size: 3rem;
		line-height: 2.9rem;
	}

	p {
		font-size: 1.2rem;
		line-height: 1.8;
		max-width: 60ch;
		margin-bottom: 1.5rem;
	}

	body {
		font-size: 1.2rem;
		line-height: 1.8;
	}

	blockquote {
		font-size: 1.6rem;
		line-height: 2.6rem;
	}
	
	h1 h2 {
		grid-column: 1 / -1; /* Spans the entire grid width */
	}

	.author {
		font-size: 1.8rem;
		grid-column: 2 / 4;
	}

	.article-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 40px;
		padding: 200px;
		padding-bottom: 0;
		grid-template-rows: auto;
	}

	.h3-0, .h3-1, .h3-2, .h3-2, .h3-3 {
		grid-column: 1 / -1;
	}

	.quote-1, .quote-2 {
		grid-column: 1 / span 3;
	}

	.content-1, .content-2, .content-3, .content-4 {
		grid-column: 1 / 5;
	}
	
	.bold, .question {
		grid-column: 2 / 5;
	}

	.bold, .question {
		font-size: 1.9rem;
		line-height: 2.8rem;
	}

	footer {
		padding-left: 200px;
	}

	.footer-2 {
		padding: 0;
		color: rgb(237, 20, 64);
		font-size: 1.5rem;
	}

}